@model BorjesLIA.ViewModel.StartModelViewModel
@{
    ViewBag.Title = "Home Page";
}

<!--bxSlider-->
<script src="~/Scripts/jquery.bxslider.min.js"></script>
<script src="~/Scripts/daJavaScript.js"></script>

<div id="bx-wrapper">
    <ul class="bxslider">
        @foreach (var element in Model.listVM.OrderBy(x => x.orderby))
            {
            <li><iframe src="@element.url" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></li>
        }
    </ul>
</div>


