@model BorjesLIA.ViewModel.VideoViewModel
@ViewBag.Message
<body>

    @using (Html.BeginForm("FileUpload", "VideoModels", FormMethod.Post, new { enctype = "multipart/form-data", id = "SubmitTarget" }))
    {
        @Html.ValidationSummary();
        <ol>
            <li class="lifile">
                <input type="file" id="fileToUpload" name="file" />
                <span class="field-validation-error" id="spanfile"></span>

                <input type="text" id="VideoNameInput" name="Name" value="Name" />
                <input type="text" id="exVideo" name="Url" value="Youtube länk" />
                <input type="hidden" id="lengthOfVideo" name="Duration" value="" /> <!--type="hidden"-->
            </li>
        </ol>
            <div>
                <button type="submit" class="btn btn-default" @*id="btnSubmit"*@ value="Upload">Ladda upp film</button>
            </div>
    }


    <p>
        @*@using (Html.BeginForm("FileUpload", "VideoModels", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            @Html.ValidationSummary();
            <ol>
                <li class="lifile">
                    <input type="file" id="fileToUpload" name="file" />
                    <span class="field-validation-error" id="spanfile"></span>

                    <input type="text" id="VideoNameInput" name="Name" value="Name" />
                    <input type="text" id="exVideo" name="Url" value="Youtube länk" />
                    <input type="hidden" id="lengthOfVideo" name="Duration" value="" /> 
                </li>
            </ol>
        <div>
            <button type="submit" class="btn btn-default"  value="Upload">Ladda upp film</button> @*id="btnSubmit"
        </div>
        }
        <button class="btn btn-default" onclick="getVideoDuration()">get duration yt</button>
        <button  class="btn btn-default" id="btnSubmit" >validera filstorlek</button>*@

        <section id="show-result-box" class="hidden">
            <iframe width="560"
                    height="315"
                    id="myVideoID"
                    src=""
                    frameborder="0"
                    allowfullscreen></iframe>
        </section>
        <p>
            @Html.Partial("_VideoList", Model)
        </p>

        <script type="text/jscript">
            //--YT PLAYER
            var tag = document.createElement('script');
            tag.src = "https://www.youtube.com/iframe_api";
            var firstScriptTag = document.getElementsByTagName('script')[0];
            firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

            var player;

            function getVideoDuration() {
                console.log("enterd getVideoDuration");
                var div = document.getElementById("exVideo").value;
                console.log(div);
                div += "?enablejsapi=1";
                console.log(div);
                $('#myVideoID').attr("src", div);
                //$('#show-result-box').removeClass('hidden');
                player = new YT.Player('myVideoID', {
                    events: {
                        'onReady': onPlayerReady
                    }
                });
            }
            //spelaren behöver vara redo att spelas för att kunna ta ut längden på klippet. 
            function onPlayerReady(event) {
                var vd = player.getDuration();
                document.getElementById("lengthOfVideo").value = vd;
                //event.target.playVideo();
            }
            //-- END YT PLAYER

            //-- File UPLOAD
            function checkfile() {
                var size = document.getElementById('fileToUpload').files[0].size;
                alert("storleken på filen: " + size);
            }

            //-- END File UPLOAD
          
           

            //-- ON SUBMIT
            $(function () {
                $("#SubmitTarget").submit(function (event) {
                    if ($('#fileToUpload').val() == "" && $('exVideo').val()!=""||($('exVideo').val()!="Youtube länk") ){
                   
                        myYtFunction();

                    }
                    else if ($('#fileToUpload').val() != "" && $('exVideo').val() == "" || ($('exVideo').val() == "Youtube länk")) {

                        myFileFunction();

                    }
                    else {
                        $("#spanfile").html("Ingenting hände. Handlingen som begärdes kändes inte igen");
                    }
                   
                    //$("form").submit();
                    //Submit
                    event.preventDefault(); //under test, för att inte nå controller och genomför därför inte submit. 
                });
            });
            function myYtFunction() {
                alert("youtube är vald att laddas upp");
                getVideoDuration();
                //var isYT = document.getElementById('exVideo').value;
                //alert("ytlänk value: " + isYT);
            }
            function myFileFunction() {
                alert("fil är vald att laddas upp");
                checkfile();
            }
            //--END ON SUBMIT
        </script>
    </body>