@model BorjesLIA.ViewModel.ImagesViewModel
<h1>Bilder</h1>
<div class="row">
    <div class="col-md-8">
        <h4>Skicka in ny bild</h4>
        @Html.Partial("ShowView")
    </div>
    <div class="col-md-4">
    </div>
</div>