<!DOCTYPE html>
<html>
<head>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Börjes Transport</title>

    <!--JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!--JQUERY -->

    <!-- BOOTSTRAP -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- BOOTSTRAP -->

    <!-- CUSTOM GUI FOR ADMIN LAYOUT -->
    <link href="~/Content/production/css/custom.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
    @*<link href="~/Content/animate.min.css" rel="stylesheet">*@
    <!-- CUSTOM GUI FOR ADMIN LAYOUT -->


    <!-- DATATABELS CSS-->
    <link href="~/Content/DataTables-1.10.11/extensions/Responsive/css/responsive.dataTables.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.11/media/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/DataTables-1.10.11/extensions/Responsive/css/responsive.dataTables.css" rel="stylesheet" />
    <!-- DATATABELS CSS-->

    <!-- BXSLIDER-->
    <link href="~/Content/jquery.bxslider/jquery.bxslider.css" rel="stylesheet" />
    <link href="~/Content/jquery.bxslider/bxslider_custom.css" rel="stylesheet" />
    <!-- BXSLIDER-->

</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-dashboard">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                    <a href="/"><img src="~/Content/images/borjes-logga-jpg.jpg" /></a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                <span class="navbar-right navbar-form btn fa fa-tv fa-2x" onclick="toggleFullScreen()" data-toggle="tooltip" data-placement="left" title="Helskärm"></span>
            </div>
        </div>
    </nav>
    <div class="container-max">
        @RenderBody()
    </div>
    <script src="~/Content/production/js/custom.js"></script>
    <script src="~/Scripts/jquery.bxslider/jquery.bxslider.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <!-- DATATABELS -->
    <script src="~/Scripts/DataTables-1.10.11/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.11/media/js/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/DataTables-1.10.11/media/js/dataTables.bootstrap.js"></script>
    <!-- DATATABELS -->

    @RenderSection("scripts", required: false)
</body>
</html>
