@using Microsoft.AspNet.Identity
<div id="mySidenav" class="sidenav">
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", }))
            {
                @Html.AntiForgeryToken()

                    <a onclick="toggleFullScreen(), closeNav()"><i class="fa fa-television brn"></i> Helskärm</a>
                    <a><i class="fa fa-cog"> </i> @Html.ActionLink("Inställningar", "Index", "Admin")</a>
                    <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-lock"></i> Log off</a>
                    <a javascript:void(0)" onclick="closeNav()"><i class="fa fa-close"></i> Stäng</a>

            }
        }
        else
        {
            <a><span class="fa fa-expeditedssl"> @Html.ActionLink("Logga in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</span></a>
            <a javascript:void(0)" onclick=""><i class="fa fa-close"></i> Stäng</a>
            
        }

</div>



