@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element 
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    background-color: #fff;
}
.logo {
    background-image: url("~/Content/images/borjes-logga-jpg.jpg");
    
}
/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}
.tablewidth-100{
    width: 100px; white-space: normal;
}
.tablewidth-150{
    width: 150px;white-space: normal;
}
.tablewidth-200{
    width: 200px;white-space: normal;
}
.tablewidth-350{
    width: 350px;white-space: normal;
}
 Carousel 
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }


/*@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }*/
}

#main-slider {
  overflow: hidden;
}
#main-slider .item {
  height: 1040px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
#main-slider .slider-inner h2 {
  margin-top: 180px;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}
#main-slider .slider-inner h2 > span {
  color: #ca1a1a;
}
#main-slider .slider-inner .btn {
  margin-top: 10px;
}
#main-slider .owl-prev,
#main-slider .owl-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}
#main-slider .owl-prev:hover,
#main-slider .owl-next:hover {
  background-color: #1b4274;
}
    #main-slider .owl-prev {
        left: -35px;
        text-indent: 14px;
    }
    #main-slider .owl-next {
        right: -35px;
        text-indent: -14px;
    }
#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: rgba(27, 66, 116, 0.57); /*steelgray*/
 /*background: rgba(254, 100, 46, 0.57); /*semired*/
}
#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}
#cta {
  padding: 50px 0;
  background-color: #eeeeee;
}
#cta h2 {
  margin-top: 0;
}
#cta .btn {
  margin-top: 40px;
}
#cta2 {
  background: #242a33;
  background-size: cover;
  color: #fff;
  padding: 70px 0;
}
#cta2 .btn {
  margin-top: 10px;
}
#cta2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#cta2 h2 > span {
  color: #72C05B;
}
#cta2 p {
    color: #fff;
}

.container-push-top{
    padding-top:50px;
}

/*
=============================================
NAVIGATION START
=============================================
*/

nav {
    width: 100%;
    /*z-index: 9999;
    position: fixed;
    top: 0;*/
    transition: top 0.3s ease-in-out;
}

.navigation {
    color: #fff;
    background-color: #666666;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}
    /*top right bottom left 
}*/

.navigation ul {
    /* TA BORT PRICKEN: */
    list-style: none;
    /* TA BORT DEFULT VÄRDEN OCH ÄRVDA MARGINALER OCH PADDINGS: */
    margin: 0;
    padding: 0;
}

.navigation > ul > li {
    position: relative;
    float: right;
    margin-right: 1px;
    width: auto;
}

.navigation > ul > li > a {
    display: block;
    background: rgba(44, 44, 44, 0.0);
    padding: 8px 14px;
    text-decoration: none;
    color: #fff;
}

.navigation > ul > li > a.active {
    color: #FFF;
}

.navigation > ul > li > a:hover {
    background: rgba(252, 0, 0, 0.0);
    color: #FFF;
}

.navigation ul ul {
    width: 170%;
    position: absolute;
    z-index: 100;
    height: 0;
    overflow: hidden;
    box-shadow: 0px 1px 4px #666666;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
}

.navigation > ul > li:hover ul,
.navigation > ul > li > a:hover ul,
.navigation ul ul li:hover > ul,
.navigation ul ul li a:hover > ul {
    height: auto;
}

.navigation ul ul li {
    background: rgba(234, 234, 234, 0.9);
    width: auto;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}

.navigation ul ul li:hover {
    background-color: #999;
}

.navigation ul ul li a {
    display: block;
    text-decoration: none;
    margin: 0 12px;
    padding: 5px 0;
    color: #ca1a1a;

}

.navigation ul ul li a:hover,
.navigation ul ul li:hover > a {
    color: #ffffff;
}

.navigation ul ul li + li a {
    border-top: 1px dotted #999;
}

.navigation ul ul li:hover + li a {
    border-top: 1px solid #eaeaea;
}

.navigation-up {
    z-index: 99;
    top: -50px;
}
