body {
    margin:0;
    padding:0;
    height: 100%;
}

/* Wrapping element 
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;

}

 @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,700,100italic,300italic,400italic,700italic);

/*************************
*******Typography******
**************************/


#main-slider {
  overflow: hidden;
}
.item-responsive{
  /*background-image: url(/Images/UploadedImg/@Model.Url);*/
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#main-slider .item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#main-slider iframe,
#main-slider object,
#main-slider embed {
 position: relative;
 top: 0;
 left: 0;
 width: 100%;
 min-height: 1030px;
 }
#main-slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
#main-slider .slider-inner h2 {
  margin-top: 180px;
  font-size: 36px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}
#main-slider .slider-inner h2 > span {
  color: #72C05B;
}
#main-slider .slider-inner .btn {
  margin-top: 10px;
}
#main-slider .owl-prev,
#main-slider .owl-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.0);
  background-color: transparent;
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  z-index: 5;
  -webkit-transition: background-color 400ms;
  transition: background-color 400ms;
}
#main-slider .owl-prev:hover,
#main-slider .owl-next:hover {
  background-color: rgba(221, 23, 38, 0.5);
}
#main-slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}
#main-slider .owl-next {
  right: -35px;
  text-indent: -14px;
}
#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: rgba(221, 23, 38, 0.5);
}
#progressBar {
  margin-top: -10px;
  position: relative;
  top: 0;
  flex-grow: 1;
  z-index: 999;
  width: 100%;
  background: rgba(255, 255, 255,0.4);
}

.lifile input{
    margin-bottom: 0.3%;
    margin-top: 0.3%;
}

.sidenav {
        border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 5%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 5px;
    right: -1px;
    background-color: #111;
    overflow: hidden !important;
    transition: 0.5s;
    /*padding-top: 12px;*/
    /*padding-left: 15px ;*/
    /*display: inline-block;*/
}

.sidenav .li{
    float: left;
    display: inline-block
}
.sidenav a  {
    list-style: none;
    display: inline-block;
    padding-top: 8px;
    padding-left: 8px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: rgba(221, 23, 38, 0.5);
}



@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

