@model BorjesLIA.ViewModel.DieselQuarterViewModel

    ViewData["Title"] = "Kvartalspriser Diesel";
}
<body class="nav-md">
    <div class="container-dashboard body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    @Html.Partial("_AdminPanel")
                </div>
            </div>
            <div class="right_col" role="main">
                <div class="row">
                    <!-- Tabel for Euroexchangecourse starts here -->
                    <div class="col-md-12 col-sm-12 col-xs-12 pull-left">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Dieselpriser Kvartal</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="PartialViewInception">
                                <div>
                                    @Html.Partial("ShowView", Model)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>